<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <script src = "libs/angular.min.js"></script>
    <script src ="js/js.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factory.js"></script>
    <script src="js/controller.js"></script>
   
</head>
<body ng-app="myApp" ng-controller = "myctrl">
    <fieldset>
        <legend>ZZ</legend>
        <table>
            <tr>
                <td><label for="">name</label>
                
           </td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Enter your name" ng-model = "name"></td>
            </tr>
            
            
            <tr>
                <td>
                   <label for="">Description</label>
                  </td>
                  </tr>
                  <tr>
                       <td><textarea name="" id="" cols="30" rows="10" ng-model="desc"></textarea></td>
                  </tr>
                  
                  <tr>
                      <td>
                          <button ng-click="add()">Add</button>
                          <button>Delete</button>
                          <button>save</button>
                          
                      </td>
                  </tr>
                  
                  
        </table>
         </fieldset>
         
        <fieldset>
        <legend>INDEX</legend>
        
            <table border="1">
			<thead>
				<tr>
					<td>Id</td>
					<td>Name</td>
					<td>Desc</td>
					<td>Operations</td>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat = "i in item">
			    <td>{{i.id}}</td>
			    <td>{{i.name}}</td>
			    <td>{{i.desc}}</td>
			</tr>
				
			</tbody>
        </table>
        </fieldset>
        
        
        
   
    
</body>
</html>