<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/angular-route.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../libs/ngStorage.min.js"></script>
    

    <script>
        var app2 = angular.module("myApp2",["ngStorage"]);
        app2.controller("myctrl2",($scope,$localStorage,myfactory)=>{
           
            $scope.welcome = $localStorage;
            $scope.id = 0;
            $scope.clicked = true;
            $scope.count=0;

            
            var promise = myfactory.get();
        promise.then(function(data){
				$scope.result= data;
             console.log($scope.result);
           // console.log($scope.result.question1);
                  var arr=[];
                  angular.forEach($scope.result, function(i,data){
                  arr.push($scope.result);
                      
  
})
                },function(err){
				$scope.result  = err;
			});
            
            $scope.start=()=>{
  $scope.id1=0;
  $scope.id2=0;
//      console.log($scope.id1);
},
        $scope.check=()=>{
            
         if($scope.result[$scope.id1].answer==$scope.radioValue){
             $scope.count++;
         }
           console.log($scope.count)
 },

                  
$scope.next=()=>{
//    console.log($scope.id1);
$scope.color();
$scope.check();    
  $scope.id1++;
     $scope.id2++;
    $scope.no++;

    
},
$scope.prev=()=>{
    console.log($scope.id1);
     $scope.id1--;
     $scope.id2--; 
    $scope.no--;
    
},   
$scope.no=0;

    $scope.color=()=>{   
        if($scope.no==0){
            
            if($scope.radioValue)
               $scope.answered0=true;
            
}
       if($scope.no==1){
          if($scope.radioValue)
             $scope.answered1=true;
      }
 
      if($scope.no==2){
         if($scope.radioValue)
              $scope.answered2=true;
  }

      if($scope.no==3){
         if($scope.radioValue)
             $scope.answered3=true;
    }
 
      if($scope.no==4){
          if($scope.radioValue)
              $scope.answered4=true;
  }

    

      
    },
     $scope.deselect=()=>{
         console.log("hola")
         $scope.radioValue=false;
     }
     
        $scope.sent=()=>{   
            $scope.score=$scope.count;
            return true;}
     
        });
        
         app2.factory("myfactory",($http,$q)=>{
		var object = {
            get(){
                var pr = $q.defer();
				var url = "questions.json";
				$http.get(url).then(function(data){
					pr.resolve(data.data);
				},function(err){
					pr.reject(err);
				});
				return pr.promise;
            },
            
            


        }
		return object;
	});
        


    </script>
    

</head>

<body ng-app = "myApp2" ng-controller = "myctrl2" ng-class="bg">
<fieldset >
    <legend>ZZ KBC</legend>
      <div class="align">
            
          <div class="circle" ng-class={"red":clicked,"green":answered0}>
               1  
          </div>
              <div class="circle" ng-class={"red":clicked,"green":answered1}>
               2
          </div>
              <div class="circle" ng-class={"red":clicked,"green":answered2}>
               3 
          </div>
              <div class="circle" ng-class={"red":clicked,"green":answered3}>
               4
        
        </div> 
             </div>
              
        <table>
             
            <tr>
                <td>Welcome to KBC  {{welcome.id}}</td>
            </tr>
           <tr>
               <td>
                   <button ng-click="start()">START</button>
                   
               </td>
           </tr> 
         
            <tr>
                <td ng-model="id1">Q.{{result[id1].question}} </td>
            </tr>
            <tr>
                 <td>
                  <ul>
                      <li >{{result[id2].choices[0]}}</li>
                      <li>{{result[id2].choices[1]}}</li>
                      <li>{{result[id2].choices[2]}}</li>
                      <li>{{result[id2].choices[3]}}</li>
                                    
                  
                  </ul>
                  </td>
<!--                <td ng-model="id2" >{{result[id2].choices}}</td>-->
                
            </tr>

           
            <tr>
        <td>
           <input type="radio" name="question" value="0" ng-model="radioValue"> A

        </td>
    </tr>
    <tr>
        <td>
           <input type="radio" name="question" value="1" ng-model="radioValue"> B

        </td>
    </tr>
    <tr>
        <td>
           <input type="radio" name="question"value="2" ng-model="radioValue" > C

        </td>
    </tr>
    <tr>
        <td>
           <input type="radio" name="question" value="3" ng-model="radioValue" > D

        </td>
    </tr>
           
     <span>
        
         <tr>
            <td>
              <div ng-show="!submit">
           <button ng-click ="prev(id1,id2)" ng-if="id1>0">PREVIOUS</button>
           <button  ng-click ="next(id1,id2)" ng-if="id1<4">NEXT</button>
            <button ng-click = "deselect()" ng-if="id1<4">deselect </button>
            <button  ng-click="sent()" ng-model="submit" ng-if="id1>0" > Submit</button>
                </div>
             </td>
         </tr>
         
          </span>  
            <div ng-show="submit">
            <tr><td> <h1>your score is {{score}}</h1></td></tr>
           
            </div>     
                        
        </table>
    
    
</fieldset>
            
</body>
</html>